{% extends 'laba/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h2>Последние посты</h2>

{% for post in page_obj %}
<div class="post">
    <p>
        <a href="{% url 'post_detail' post.id %}">
            {{ post.text }}
        </a>
    </p>

    <small>
        {{ post.author.username }} · {{ post.created_at }}
    </small>

    {% if request.user == post.author %}
    <div class="post-actions">
        <a href="{% url 'post_edit' post.id %}">Редактировать</a>
    </div>
    {% endif %}

    <div class="post-actions">
        <form method="post" action="{% url 'post_like' post.id %}">
            {% csrf_token %}
            <button type="submit">❤️</button>
        </form>

        <span>Лайков: {{ post.likes.count }}</span>
    </div>

</div>


{% endfor %}


<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    <span>
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
    {% endif %}
</div>

{% endblock %}
